body {
  margin:   0;
  padding:  0;
}

#left {
  position:            fixed;
  z-index:             1;
  top:                 0;
  left:                0;
  width:               500;

  background-color:    #ffffff;
  opacity:             0.8;
  filter:              alpha(opacity=80); /* For IE8 and earlier */

  box-sizing:          border-box;
  -moz-box-sizing:     border-box;
  -webkit-box-sizing:  border-box;
}

#left div {
  /*margin: 1em;*/
}

#left textarea {
  padding:  1em;
  width:    100%;
  height:   550;
}

#right {
  z-index:   0
  position:  fixed;
  width:     100%;
  height:    100%;
  top:       0;
  left:      0;
}

#right canvas {
  width:   100%;
  height:  100%;
}
